@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #1e1e1e;

		--muted: #e4e9f2;
		--muted-foreground: #778191;

		--popover: #ffffff;
		--popover-foreground: #1e1e1e;

		--card: #ffffff;
		--card-foreground: #1e1e1e;

		--border: #d9e2f1;
		--input: #d9e2f1;

		--primary: #2b1e1e;
		--primary-foreground: #f6fbff;

		--secondary: #e4e9f2;
		--secondary-foreground: #2b1e1e;

		--accent: #e4e9f2;
		--accent-foreground: #2b1e1e;

		--destructive: #e83c3c;
		--destructive-foreground: #f6fbff;

		--ring: #1e1e1e;

		--radius: 0.5rem;
	}

	.dark {
		--background: #161616;
		--foreground: #f6fbff;

		--muted: #2e3b44;
		--muted-foreground: #a5b0bf;

		--popover: #1e1e1e;
		--popover-foreground: #f6fbff;

		--card: #1e1e1e;
		--card-foreground: #f6fbff;

		--border: #ffffff;
		--input: #2e3b44;

		--primary: #f6fbff;
		--primary-foreground: #2b1e1e;

		--secondary: #ffffff;
		--secondary-foreground: #f6fbff;

		--accent: #2e3b44;
		--accent-foreground: #f6fbff;

		--destructive: #9e3333;
		--destructive-foreground: #f6fbff;

		--ring: #ffffff;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
